In [1]:
import pandas as pd
import pickle

In [2]:
data = pd.read_csv("../data/customer_dataset.csv", sep=',')

## 1 Puntos de corte

In [3]:
probando = data.copy()

In [4]:
data['orderAmount'], saved_bins_order = pd.qcut(data['orderAmount'], q=5, duplicates='drop', retbins=True)

In [5]:
with open('../data/saved_bins_order.pickle', 'wb') as handle:
  pickle.dump(saved_bins_order, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [6]:
data['transactionAmount'], saved_bins_transaction = pd.qcut(data['transactionAmount'], q=4, duplicates='drop', retbins=True)
with open('../data/saved_bins_transaction.pickle', 'wb') as handle:
  pickle.dump(saved_bins_transaction, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [7]:
with open('../data/saved_bins_order.pickle', 'rb') as handle:
    new_saved_bins_order = pickle.load(handle)
with open('../data/saved_bins_transaction.pickle', 'rb') as handle:
    new_saved_bins_transaction = pickle.load(handle)

In [8]:
probando["orderAmount"] = pd.cut(
    probando['orderAmount'],
    bins=new_saved_bins_order,
    include_lowest=True) # importante para que coincidan todos

In [9]:
probando.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressVersion,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,18,False,False,yahoo,com,4.0,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,26,False,True,yahoo,com,4.0,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,45,False,False,yahoo,com,6.0,no

In [10]:
data.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressVersion,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,False,yahoo,com,4.0,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,True,yahoo,com,4.0,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,False,yahoo,com,6.0,no

## 2. Preparación de los datos

In [11]:
data['paymentMethodIssuer'].value_counts()

Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
Bulwark Trust Corp.         29
Citizens First Banks        28
Grand Credit Corporation    27
Solace Banks                27
Rose Bancshares             25
B                            7
e                            5
c                            4
r                            3
                             2
n                            2
x                            2
o                            2
a                            1
p                            1
Name: paymentMethodIssuer, dtype: int64

In [12]:
# Reemplazar un valor a la vez
weird_payment_method = ["B", "e", "c", "r", " ", "n", "x", "o", "a", "p"]

for payment_method in weird_payment_method:
    data['paymentMethodIssuer'] = data['paymentMethodIssuer'].replace(payment_method, 'weird')

In [13]:
data['paymentMethodIssuer'].value_counts()

Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
weird                       29
Bulwark Trust Corp.         29
Citizens First Banks        28
Solace Banks                27
Grand Credit Corporation    27
Rose Bancshares             25
Name: paymentMethodIssuer, dtype: int64